#firstPara{
    background-color: red;
    height: 100px;
    width: 455px;
    border: 4px solid green;
    /* border-width: 5px;
    border-color: green;
    border-style: solid; */
    border-radius: 5px;
}

#secondPara{
    background-color: rgb(174, 108, 108);
    height: 100px;
    width: 455px;
    border-top: 5px rgb(0, 0, 0);
    border-right: 5px solid green;
    border-bottom: 5px solid rgb(98, 105, 98);
    border-radius: 2px;
}

#thirdPara{
    
    height: 500px;
    width: 455px;
    background-image: url(https://i.pinimg.com/564x/49/73/cb/4973cb85fdd64692c3c1c21cdd74a6f6.jpg);
    border: 2px solid red;
    background-repeat: no-repeat; /* repeat x and y will repeat on x and y axis*/
    background-position: centre centre;
}