    
        *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;

        }
        #container{
            background-color: burlywood;
            border: 3px solid rgb(0, 0, 0);
            padding: 70px;
            margin: 20px;
            border-radius: 10px;
            width: 500px;
        }