.box{
    width: 200px;
    height: 200px;
    border: 2px solid black;

}

#box1{
    background-color: green;
     /* if i have to see which box is at the top then i can use z-index
        by default it is static so no change will be observed so we need to change it to relative in order to see the change  */
    position: relative;
    top: 14px;
    z-index: -4;
        
}
#box2{
    background-color: red;
    /* visibility: hidden;
    /* this means that the element is not visible */
    /* display: none;
    if i want to visibility hidden meanwhile also the space taken by the element should be 0 then i use display none  */ 

    position: relative;
    z-index: -9;
    top: 14px;

    /* z- index will only work on relative, sticky and absolute position */

}
#box3{
    background-color: blue;
}
#box4{
    background-color: yellow;
}