        
        body{
            background-color: black;
        }
        
        .container{
            display: flex;
        }

        #box{
            display: flex;
            height: 300px;
            width: 300px;
            background-color: grey;
            justify-content: center;
            align-items: center;
            /* transition-property: background-color;
            transition-duration: 1s;
            transition-timing-function: ease-in-out 0s;
            transition-delay: 2s; */
            transition: all 1s ease-in-out 2s;
        }

        #box:hover{
            background-color: brown;
            color: aliceblue;
            height: 400px;
            width: 400px;
            border-radius: 6px;
            font-size: 40px;
        }
