        
        *{
            margin: 0px;
            padding: 0px;
        }
        .container{
            height: 80vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: chocolate;
        }
        .box{
            background-color: burlywood;
            color: black;
            border-radius: 4px;
            height: 300px;
            width: 300px;
            align-items: center;
            justify-content: center;
            display: flex;
            transition: all 2s ease-in-out;
            
        }

        .box:hover{
            transform: rotate(360deg);
            transform: skew(36deg);
            transform: scale(1.5);
            transform: translateX(200px);
            transform: translateY(200px);
            transform: translate(200px, 200px);
    
        }
    