@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Reddit Mono", monospace;
}


.container{
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hex-colors{
    text-align: center;

}

.hex-colors h1{
    font-size: 2rem;
    text-transform: uppercase;
    animation: changecolor 5s infinite;
}

.hex-colors h2{
    font-size: 2rem;
    margin-top: 15%;
}

@keyframes changecolor {

    0%{
        color: indigo;
    }
    20%{
        color: indigo;
    }
    40%{
        color: blue;
    }
    60%{
        color: green;
    }
    80%{
        color: yellow;
    }
    
    100%{
        color: red;
    }
}

.button{
    padding: 10px;
    margin: 10px;
}

